@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Test Winery</h1>
    <p class="lead">This site will allow you to hit VineSpring Platform code as it would be called by a client's website.</p>
    <p class="lead">Replace the PlatformIp URL in Shared/_Layout.cshtml and add references to clubs in Club/Index.cshtml to finish setting up this test site.</p>
</div>
