
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<table>
    <tbody>
        <tr>
            <td>Row</td>
            <td><button class="add-button">Add</button></td>
            <td><button class="remove-button">Delete</button></td>
        </tr>
    </tbody>
</table>