
@{
    ViewBag.Title = "ClubSignup";
}

<h2>Club Signup</h2>

<div data-vsplugin="clubSignup">
    <noscript>
        JavaScript is required to signup for our club.
        Please <a href="http://www.enable-javascript.com/" target="_blank">enable this feature in your browser.</a>
    </noscript>
    <!--[if lte IE 7]>
        To ensure security and usability, this site requires at least Internet Explorer 8 to function properly.
        Please view our site in a <a href="http://www.google.com/chrome">different browser</a>,
        or upgrade to the latest version of <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Internet Explorer</a>.
    <![endif]-->
</div>